version: '3.7'

services:
  docker-newman:
    image: docker-newman
    build:
      context: .
      dockerfile: Dockerfile
    container_name: docker-newman
    volumes:
      - ./artifacts:/artifacts

volumes:
  artifacts: